# Specify a list of files to exclude form the docker image context

# Git

.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
app/*/*/*/*/__pycache__/
.env/
.venv/
venv/